*{padding:0px;margin:0px;font-size:15px;color:#ccc;}
body{background:#f5f5f5;position:relative;}
a{text-decoration:none;}
ul li{list-style-type:none;}
/* 最外层 */
#container{width:100%;height:auto;}
#wrap{margin:0 auto;width:1000px;}
/* 通用清除浮动 */
.clearfix{overflow: auto;zoom:1;} 
#top{background:url(../images/top_bg.jpg) repeat-x;height:27px;}
#top ul{overflow: auto;zoom:1;width:85%;}
#top ul li{float:right;background:url(../images/arrow.jpg) no-repeat 1px 5px;padding-left:10px;margin-left:10px;}
#top ul li a{font-size:12px;}

/* banner部分 */
#banner{
   background:white url(../images/logo.jpg) no-repeat;height:80px;
}
#banner .banner_content{float:right;padding:25px 0px 0px;}
#banner .banner_content ul li{background:url(../images/tel.jpg) no-repeat 6px 10px;height:40px;width:265px;padding-left:40px;padding-top:5px;}
#banner .banner_content .banner_content_one{font-size:12px;}
#banner .banner_content .banner_content_two{color:#C00;font:22px bold;font-family:"微软雅黑";}
/* 导航栏 */
#nav{height:45px;}
#nav .navPos ul li{float:left;padding-left:40px;height:42px;line-height:42px;}
#nav  .navPos ul li a{color:#FFF;font:16px "微软雅黑";}
#nav .navPos .txt{padding-left:220px;}
#nav  .navPos .txt input{height:25px;line-height:25px;padding-left:5px;background:white url(../images/search.jpg) no-repeat 170px 3px;border:none;}
#nav .navPos ul{padding-left:10px;padding-right:10px;}
#nav .navPos{height:40px;background:url(../images/nav_bg.jpg) repeat-x;margin-right:10px;}
.nav_left{background:url(../images/nav_left.jpg) no-repeat;float:left;width:10px;height:40px;}
.nav_right{background:url(../images/nav_right.jpg) no-repeat;width:10px;height:40px;float:right;margin-top:-40px;} 

/* 幻灯片部分 */



/* 内容部分 */
/* 新闻中心 */
#content{background:white;padding-right:0px;height:273.5px;}
.fl{float:left;}
#content .content_news{float:left;width:35%;height:270px;border:1px solid #f5f5f5;margin-right:10px;font-size:12px;}
#content .content_class{height:270px;width:38%;float:left;border:1px solid #f5f5f5;margin-right:10px;}
#content .content_media{width:24%;height:270px;float:left;border:1px solid #f5f5f5;}
#content h3{border-bottom:1px #f5f5f5 solid;height:35px;line-height:35px;padding-left:15px;}
#content  .content_class .more{margin-left:250px;}
#content  .content_media .more{margin-left:110px;}
#content  .content_news .more{margin-left:220px;}
#content .content_class .content_class_content{border-top:1px #f5f5f5 solid;padding-left:5px;padding-top:10px;}
#content .content_news .content_news_content{border-top:1px #f5f5f5 solid;padding-left:5px;padding-top:10px;float:left;}

#content .content_news .news p{padding-top:15px;padding-left:10px;float:left;line-height:23px;font-size:12px;color:black;width:220px;border-top:1px #f5f5f5 solid;}
#content .content_news .news p .mu{color:#C00;font-weight:bold;font-size:11px;}
#content .content_news .news p .learn{color:#C00;font-size:11px;}
#content .content_news .news_content{padding-left:5px;}
#content .content_news .news_content ul li{border-bottom:1px #ccc dashed;float:left;font-size:11px;width:330px;padding-left:6px;padding-top:10px;padding-bottom:3px;background:url("../images/list.jpg") no-repeat 0px 7px;}
#content .content_news .news_content ul li a{font-size:11px;color:black;}
#content .content_news .news_content ul li span{font-size:11px;float:right;}

/* 课程中心 */
#content .content_class .classes{float:left;width:212px;padding-top:15px;line-height:20px;padding-left:5px;}
#content .content_class .classes p span a{color:#C00;font-size:13px;font-weight:bold;}
#content .content_class .classes p{font-size:13px;color:black;}
#content .content_class .content_class_content{float:left;}
#content .content_class .content_class_list{float:left;height:20px;line-height:20px;width:360px;margin:40px 10px 0px 10px;background:url(../images/titile_bg.gif) repeat-x;}
#content .content_class .content_class_list ul li{float:left;padding-left:25px;}
#content .content_class .content_class_list ul li a{font-size:10px;color:black;}

/* 媒体 */
#content .content_media_img{margin-top:40px;}


/* footer */
#footer{background:#e8e8e8;padding-top:30px;padding-bottom:20px;margin-top:10px;}
#footer .footer_wrap{margin:0 auto;width:80%;}


#footer .footer_wrap .footer_about ul li,#footer .footer_wrap .footer_class ul li,#footer .footer_wrap .footer_wx ul li,#footer .footer_wrap .footer_message ul li,#footer .footer_wrap .footer_focus ul li{text-align:center;}

#footer .footer_wrap .footer_about ul li span,#footer .footer_wrap .footer_class ul li span,#footer .footer_wrap .footer_wx ul li span,#footer .footer_wrap .footer_message ul li span,#footer .footer_wrap .footer_focus ul li span{font-size:18px;color:#999;font-family:"微软雅黑";} 

#footer .footer_wrap .footer_about ul li a,#footer .footer_wrap .footer_class ul li a,#footer .footer_wrap .footer_wx ul li a,
#footer .footer_wrap .footer_message ul li a,#footer .footer_wrap .footer_focus ul li a{font-size:14px;color:#999;line-height:30px;height:30px;font-family:"微软雅黑";}
/* 关于 */
#footer .footer_wrap .footer_about{float:left;width:20%;background:url(../images/line.png) no-repeat 195px 0px;}
/* 课程 */
#footer .footer_wrap .footer_class {float:left;width:20%;background:url(../images/line.png) no-repeat 195px 0px;}
/* 微信 */
#footer .footer_wrap .footer_wx{float:left;width:20%;background:url(../images/line.png) no-repeat 195px 0px;text-align:center;}
#footer .footer_wrap .footer_wx .mukeimg{margin-top:15px;}

/* 反馈信息 */
#footer .footer_wrap .footer_message{float:left;width:20%;background:url(../images/line.png) no-repeat 195px 0px;}
/* 关注 */
#footer .footer_wrap .footer_focus{float:left;width:20%;background:url(../images/line.png) no-repeat 195px 0px;}








